* {
    /* border: 1px solid coral; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

.target-text {
    font-weight: 900;
}

fieldset {
    margin-bottom: 8px;
}

.question {
    background-color: darkslategray;
    color: azure;
}

.answer {
    background-color: gainsboro;
}

.reason {
    /* background-color: azure; */
    margin-bottom: 36px;
}

.reason > p {
    font-size: 10px;
}